In [150]:
# imports
import pandas as pd 
import numpy as np
# import seaborn as sns
from datetime import datetime as dt
import logging as log
import re
import os
from ColonyMgmt import * 
import glob

In [151]:
# to do items
# add logging function; if colony is over 200, prioritize saccing and consolidating cages

## some fancy to dos:
## check that the csv is within an hour, i.e. up to date
## wrap helper functions more cleanly?
## eventually package as a script proper
## function to search the **NOTES** column; i.e. for mice that have bred with other mice etc

# #some fiddling to make sure we are not pulling from the wrong file
# file = "05227_mastersheet - Active.tsv"
# loc = os.getcwd() + "\\" + file
# os.path.getmtime(loc)

# def checkTime(path):
#     loc = os.getcwd() + "\\" + path
#     return os.path.getmtime(loc)

In [152]:
## this is all the functions now contained in mouse_mgmt import
# # def importCleanDF(fn, sep = "\t",
#                   skip = 0,
#                   dropDeads = False,
#                   dropTransfers = True,
#                   dropHeaders = False,
#                   convertDOB = True,
#                   calcDispensables = True,
#                   stats=True):
#     '''skip rangi(0,9) for Harvard mastersheet
#     dropHeaders = True for Harvard Mas"'''
    
#     df = pd.read_csv(fn, sep = sep,
#                      skiprows = skip,
#                      parse_dates = True,
#                     dtype=str).dropna(axis = 0, how = 'all')
#     print("Read in CSV",fn) #logging
    
#     df.Sex = df.Sex.fillna("temp") 
#     print("Animals without gender given temp. gender") #if animals are not gendered
    
#     df.Cage = df.Cage.fillna('not included yet') #if animals are missing a cage
#     print("Animals without cage given temp. cage") #if animals are not gendered

#     df = parseDOD(df, drop = dropDeads)
    
#     if dropTransfers:
#         df = dropTransferred(df)
        
#     if dropHeaders:
#         df = df[df.Cage.str.contains("NRB|HAT|HOP",
#                                  case=False,
#                                  na=False)].reset_index(drop=True) #drop the header rows & reset the index
#         print("Retained rows with NRB, HAT, HOP, dropped otherwise drop headers")
        
#     if convertDOB:
#         df.DOB = cleanDOBs(df.DOB)
#     if calcDispensables:
#         df = calcDisp(df)
#     if df.Ear.any():
#         df.Ear =  df.Ear.apply(lambda row: "\'" + row if type(row)== str else np.nan) #convert ear tags to excel-clean formats
#         print("Parsed ear tags for Excel formatting")  
#     if stats:
#         colonyStats(df)
#     return df

# # def cleanDOBs(s):
# #     '''uses .map() to apply changes'''
# #     dates = {date:pd.to_datetime(date, errors = 'coerce') for date in s.unique()}
# #     return s.map(dates)
# # def parseDOD(df, drop = True):
# #     df['DOD'] =  df.DOD.apply(lambda row: row.strip().lower() if type(row)== str else np.nan) #convert ear tags to excel-clean formats
# #     df['parsedDOD'] = pd.to_datetime(df.DOD, errors = 'coerce')
# #     if drop:
# #         init = colonyStats(df)
# #         df = df[(~df.parsedDOD.notnull()) \
# #                 & (~df.DOD.str.contains('sperm|Diss|f.d.|mia.',
# #                                    na = False))] #drop assorted dead mice
# #         print("initial counts:", init, "\nafter dropping dead", colonyStats(df))
# #     return df



# #     return df      
# # def dropTransferred(df):
# #     init = colonyStats(df)
# #     df = df[~df.DOD.str.contains('transfer', na = False)]
# #     fin = colonyStats(df)
# #     print('after removing transferred', fin)
# #     return df
# # def collectAgeRange(df,
# #                     on_date,
# #                     oldest_requested_age,
# #                     youngest_requested_age,
# #                     lineage,
# #                     gender):
# #     early = pd.to_datetime(on_date) - pd.Timedelta(weeks = oldest_requested_age)
# #     late = pd.to_datetime(on_date) - pd.Timedelta(weeks = youngest_requested_age)
# #     mask = (df['DOB'] >= early)\
# #             & (df['DOB'] <= late)\
# #             & (df['Lineage'].str.contains(lineage))\
# #             & (df['Sex'].str.contains(gender))
# #     return early, late, mask
# # def colonyStats(df):
# #     '''helper function: returns number of mice, number of cages'''
# #     num_cages = len(df.Cage.unique())
# #     stats = {'numCages':len(df.Cage.unique()), 'numMice' : len(df)}
# #     if num_cages >=200:
# #         print("certainly cage reorg time")
# #     return stats
# # def makefn(string):
# #     '''returns string + formatted date to use as a file name'''
# #     return string + str(dt.today().strftime("_%Y-%B-%d")) + ".csv"
# # def tagSearch(string, df, column="Tag"):
# #     '''from a string, extracts all numbers and then searches for those numbers in a column'''
# #     find_t = re.findall(r'\d+', string)
# #     #search for that list in the spreadsheet and return only those rows
# #     return df[column].isin(find_t)
# # def makeOutputs(df, upcase=True):
# #     '''extremely specific to produce dispensible & sorted cage information'''
# #     fineGrainedDispense = df.query("Dispensible >= 0.2").sort_values(["Dispensible", "Cage"], ascending=False)
# #     cages = df.groupby("Cage").agg({'Dispensible':'first', #could be cleaner
# #                                     'Cage':'size', #yay!
# #                                     'Sex':'unique', #yay!
# #                                     'Color':'unique',
# #                                    'DOD':'unique'})   #yay!
# #     return fineGrainedDispense, cages
# # def calcTotals(df):
# #     counted = df.groupby("Cage").agg('size').reset_index(name='Total')
# #     return df.merge(counted)
# # def calcDisp(df):
# #     disp = df.groupby("Cage").DOD\
# #                 .value_counts(normalize=True,
# #                               dropna = False).unstack()
# #     if 'Dispensible' in disp:
# #         disp = disp.Dispensible.reset_index()
# #         print("Dispensible counts normalized + totals calculated")
# #         df = df.merge(disp)
# #     else:
# #         print("No dispensible mice, returning original DF with totals added")
# #     return calcTotals(df)

In [153]:
file = '05227_mastersheet - Hopkins Colony.tsv'

In [154]:
df = importCleanDF(file, dropDeads=True)

Read in CSV 05227_mastersheet - Hopkins Colony.tsv
Animals without gender given temp. gender
Animals without cage given temp. cage
Animals without specified lineage given NA
initial counts: {'numCages': 137, 'numMice': 404}
after dropping dead {'numCages': 116, 'numMice': 346}
calculted total dispensible counts
calculated total cage sizes
calculated % disp
after removing transferred {'numCages': 112, 'numMice': 330}
Parsed ear tags for Excel formatting

In [155]:
makeConsolidations(df, save = True, popBack = False)

Saved CSV with fns AllCages_2020-May-06.csv
Saved CSV with fns FemaleCons_2020-May-06.csv

In [156]:
def splitGenotypes(df):
    split = df['Genotype'].str.split(r'(\w,)', expand=True) 
    split = split.rename({0: "E",
             2: 'I',
             4: "S"}, axis=1).drop(columns = [1, 3, 5])
    return split

In [157]:
split = splitGenotypes(df)

In [158]:
df = df.merge(split, left_index = True, right_index = True)

In [167]:
df['E']].apply(lambda x: is_number(x))

TypeError: cannot convert the series to <class 'float'>

In [143]:
df.query('Lineage.str.contains("ins") & DOD.str.startswith("disp")').sort_values(["E", "I", ""])

,Tag,Cage,Ear,Sex,Color,Name,Genotype,DOB,DOD,Father,...,Column,Position,parsedDOD,DispCount,CageSize,DispPercent,E,I,S,6
89,5048,AA0010,'+/t,F,Agouti,NaN,"3E,7I,2S,NAina",2019-12-30,dispensible,2620,...,01,G1,NaT,3.0,5,0.600000,3,7,2,NAina
98,5043,AA0013,'++/t,M,NaN,NaN,"4E,6I,3S,NAina",2019-12-30,dispensible,2620,...,01,B1,NaT,1.0,3,0.333333,4,6,3,NAina
100,5045,AA????,NaN,M,NaN,NaN,"3E,6I,4S,NAina",2019-12-30,dispensible,2620,...,01,D1,NaT,2.0,2,1.000000,3,6,4,NAina
101,5046,AA????,NaN,M,NaN,NaN,"4E,6I,4S,NAina",2019-12-30,dispensible,2620,...,01,E1,NaT,2.0,2,1.000000,4,6,4,NAina
103,5051,AA0017,'+/t,F,NaN,NaN,"2E,8I,3S,NAina",2019-12-31,dispensible,2463,...,02,B2,NaT,3.0,5,0.600000,2,8,3,NAina
106,5054,AA0017,'t/++,F,NaN,NaN,"3E,7I,2S,NAina",2019-12-31,dispensible,2463,...,02,E2,NaT,3.0,5,0.600000,3,7,2,NAina
107,5055,AA0017,'notch-5,F,NaN,NaN,"3E,7I,2S,NAina",2019-12-31,dispensible,2463,...,02,F2,NaT,3.0,5,0.600000,3,7,2,NAina
108,5056,AA0018,'+/t,M,NaN,NaN,"4E,6I,2S,NAina",2019-12-31,dispensible,2620,...,02,G2,NaT,3.0,3,1.000000,4,6,2,NAina
109,5057,AA0018,'++/t,M,NaN,NaN,NaN,2019-12-31,dispensible,2620,...,02,H2,NaT,3.0,3,1.000000,NaN,NaN,NaN,NaN
110,5058,AA0018,'t/+,M,NaN,NaN,"3E,5I,3S,NAina",2019-12-31,dispensible,2620,...,03,A3,NaT,3.0,3,1.000000,3,5,3,NAina
111,5059,AA0019,'+/t,M,NaN,NaN,"3E,6I,2S,NAina",2019-12-31,dispensible,2620,...,03,B3,NaT,3.0,3,1.000000,3,6,2,NAina
112,5060,AA0019,'++/t,M,NaN,NaN,"4E,7I,2S,NAina",2019-12-31,dispensible,2620,...,03,C3,NaT,3.0,3,1.000000,4,7,2,NAina
113,5061,AA0019,'t/+,M,NaN,NaN,"4E,6I,3S,NAina",2019-12-31,dispensible,2620,...,03,D3,NaT,3.0,3,1.000000,4,6,3,NAina
114,5062,AA0020,'+/t,F,NaN,NaN,"4E,5I,4S,NAina",2019-12-31,dispensible,2620,...,03,E3,NaT,4.0,5,0.800000,4,5,4,NAina
116,5064,AA0020,'t/+,F,NaN,NaN,"3E,4I,3S,NAina",2019-12-31,dispensible,2620,...,03,G3,NaT,4.0,5,0.800000,3,4,3,NAina
117,5065,AA0020,'t/++,F,NaN,NaN,"4E,5I,4S,NAina",2019-12-31,dispensible,2620,...,03,H3,NaT,4.0,5,0.800000,4,5,4,NAina
118,5066,AA0020,'notch-5,F,NaN,NaN,"4E,6I,3S,NAina",2019-12-31,dispensible,2620,...,04,B4,NaT,4.0,5,0.800000,4,6,3,NAina
119,5067,AA0021,'+/t,M,NaN,NaN,"4E,7I,3S,NAina",2020-01-03,dispensible,2463,...,04,C4,NaT,1.0,2,0.500000,4,7,3,NAina
165,5117,AA0039,'+/t,M,Agouti,NaN,"4E,5I,3S,NAina",2020-01-30,dispensible,2620,...,01,A1,NaT,1.0,2,0.500000,4,5,3,NAina
167,5119,AA0040,'+/t,F,Agouti,NaN,"4E,5I,2S,NAina",2020-01-30,dispensible,2620,...,01,C1,NaT,1.0,2,0.500000,4,5,2,NAina
170,5122,AA0041,'++/t,F,Agouti,NaN,NaN,2020-01-31,dispensible,2620,...,01,F1,NaT,3.0,4,0.750000,NaN,NaN,NaN,NaN
171,5123,AA0041,'t/+,F,Agouti,NaN,"2E,8I,4S,NAina",2020-01-31,dispensible,2620,...,01,G1,NaT,3.0,4,0.750000,2,8,4,NAina
172,5124,AA0041,'t/++,F,Agouti,NaN,"2E,7I,4S,NAina",2020-01-31,dispensible,2620,...,01,H1,NaT,3.0,4,0.750000,2,7,4,NAina
173,5125,AA0042,'+/t,M,Agouti,NaN,"4E,5I,4S,NAina",2020-01-31,dispensible,2620,...,02,A2,NaT,3.0,3,1.000000,4,5,4,NAina
174,5126,AA0042,'++/t,M,Agouti,NaN,"4E,6I,3S,NAina",2020-01-31,dispensible,2620,...,02,B2,NaT,3.0,3,1.000000,4,6,3,NAina
175,5127,AA0042,'t/+,M,Agouti,NaN,"3E,6I,3S,NAina",2020-01-31,dispensible,2620,...,02,C2,NaT,3.0,3,1.000000,3,6,3,NAina
176,5128,AA0043,'+/t,M,Agouti,NaN,"3E,7I,4S,NAina",2020-01-31,dispensible,2620,...,02,D2,NaT,2.0,3,0.666667,3,7,4,NAina
177,5129,AA0043,'++/t,M,Agouti,NaN,"2E,6I,3S,NAina",2020-01-31,dispensible,2620,...,02,E2,NaT,2.0,3,0.666667,2,6,3,NAina
179,5132,AA0059,'+/t,F,Agouti,NaN,"3E,7I,2S,NAina",2020-01-31,dispensible,2463,...,02,H2,NaT,2.0,4,0.500000,3,7,2,NAina

In [109]:
split.head()

   0   1   2   3  4   5      6
0  4  E,  12  I,  4  S,  10ina
1  4  E,  13  I,  5  S,  10ina
2  4  E,  13  I,  6  S,  12ina
3  3  E,  10  I,  6  S,  15ina
4  3  E,  10  I,  5  S,   8ina

      E     I     S      6
0     4    12     4  10ina
1     4    13     5  10ina
2     4    13     6  12ina
3     3    10     6  15ina
4     3    10     5   8ina
..   ..   ...   ...    ...
341   4     8    15  12ina
342   1    12     3   8ina
343   3    12     4   9ina
344   3    11     6  11ina
345  NA  None  None   None

[330 rows x 4 columns]

In [42]:
types[0].str.extract('/d', expand=True) #split well into parts

ValueError: pattern contains no capture groups

In [39]:
plate = df['Plate'].str.split('-', n=1, expand = True) #split position from plate
wells = plate[0].str.extract('([a-zA-Z]+)([^a-zA-Z]+)', expand=True) #split well into parts
#     df['PlateID'] = plate[0]
#     df['Row'] = wells[0]
#     df['Column'] = wells[1]
#     df['Position'] = df['Row']+ (df['Column'].apply(lambda x: str(x).lstrip("0")))
#     return df

'4E'

In [ ]:
#### parsing breedings etc
source_dir = "Breedings"
fns = glob.glob(source_dir + '/*2020-05*')
data = []

for fn in fns:
    frame = pd.read_csv(fn, sep = "\t")
    frame['Lineage'], frame['Date'] = fn[10:24].split("-", 1)
    data.append(frame)
animals = pd.concat(data, ignore_index=True) #dont want pandas to try an align row indexes;
animals = animals.applymap(lambda x: x.strip("t") if isinstance(x, str) else x) #remove t for easier comparison to big frame applys

tagCols= ['Male', 'Female1', 'Female2'] #grab columns with animals for flattening
data = []
for col in tagCols:
    frame = pd.concat((animals[i] for i in [col, 'Lineage', 'Date']), axis = 1).rename({col:'Tag'}, axis=1)
    data.append(frame)
           
#            #, animals['Lineage'], animals['Date']]
# #     data.append(frame)
breeders = pd.concat(data, ignore_index=True) #dont want pandas to try an align row indexes;

In [ ]:
# print([i for i in breedrs['TagClean'] if i not in breeders['Tag']])

In [ ]:
## #### parsing breedings etc - check that all breeders are marked as such on the sheet
breedrs = pd.merge(df, breeders, left_on ='TagClean', right_on = 'Tag', how = 'inner')
if len(breedrs.DOD.unique()) > 1:
    print("Not all breeders marked")
else:
    print("Only one DOD found, {}".format(breedrs.DOD.unique()[0]))
list(set(breeders['Tag'])-set(breedrs['TagClean']))

In [ ]:
##############################################

In [ ]:
# [i for i in breeders['Mouse'] if i not in df['Tag']]
# df['Tag'] - breeders['Mouse']

In [ ]:
# plate = df[plate].sort_values(['Column', 'Row'])
# #.sort_values(
#  #       ['Row',
#   #       'Column']).reset_index(drop=True)  # impt standard plate indexing

# plateNew = locs.merge(plate, how = 'outer')
# df = plateNew

# plateNew.pivot(index='Row', columns='Column',
#                       values=['Info'])

In [ ]:
# plate = fCas9.sort_values(['PlateID', 'Column', 'Row'])

In [ ]:
# plate.Tag = df.Tag.apply(lambda x: "t" + str(x) if not x != x else 'empty')
# plate['Info'] = ['\n'.join([str(x), str(y)]) for x, y in zip(plate['Tag'], plate['Lineage'])]

In [ ]:
# cleanSamples = df[['PlateID', 'Row', 'Column', 'Tag', 'Lineage']]

In [ ]:
# cleanSamples.to_clipboard(index = 'False')

In [ ]:
df.Lineage = df.Lineage.fillna("--")
fathers = df[df.Lineage.str.contains('fCas9')].Father.unique().flatten()
mothers = df[df.Lineage.str.contains('fCas9')].Mother.unique().flatten()
rents = np.append(fathers, mothers)
parentList = []
for i in rents:
    parentList.extend(i.split("/")) 

parents = df.loc[df['Tag'].isin(parentList)]

In [ ]:
plateCats =  ['Genotype','PlateID', 'Row', 'Column',
       'Position']

In [ ]:
# parents = ['Father', 'Mother']

In [ ]:
cats = easyCats + plateCats

In [ ]:
df[['fCas', 'transgene']] = df['Genotype'].str.split(",", 1, expand = True)

In [ ]:
df.Lineage = df.Lineage.fillna("--")
linMask = df.Lineage.str.contains('fCas9')
genoMask = df.Genotype.isnull()
fCas9 = df[linMask].fillna("-")
H_linMask = fCas9.Lineage.str.contains('hCD2')
S_linMask = fCas9.Lineage.str.lower().str.contains('syn')

In [ ]:
fCas9.groupby(['Sex', 'DOD', 'fCas', 'transgene']).agg({'Genotype': 'count',
                                                   'Tag':'unique', 'Cage':'unique', 
                                                  'DOB': ['min', 'max']})

In [ ]:
cages = df.groupby(["Cage", "Sex"]).agg({'Color':'unique',
                                         'DOD':'unique',
                                         'Lineage':'unique'})   #yay!

In [ ]:
cages.to_clipboard()

In [ ]:
df.groupby(['Cage']).agg({
    'dispensible': 'mean',
    'Cage': 'size',
    'Sex': 'unique',
    'DOD': 'unique',
    'Tag': 'unique',
    'Color': 'unique',
    'Ear': 'unique',
    'Lineage': 'unique'
}).sort_values('dispensible', ascending = False)

In [ ]:
df[df.Sex == "F"].groupby(['Cage']).agg({'Cage': 'size',
                                         'DOD': 'unique',
                                         'Tag':'unique',
                                        'Color' : 'unique',
                                         'Ear' : 'unique',}).sort_values

In [ ]:
df[df.Sex == "F"].groupby(['Cage']).agg({'Cage':'size',
                                         'Color':'unique',
                                         'DOD':'unique',
                                         'Lineage':'unique'})   #yay!

In [ ]:
# cas9CSV = df[(df.Lineage.str.endswith('Cas9')) & (df.Sex == "M") & (df.DOD.isna())]
# ladies = df[(df.Lineage.str.startswith('1763')) & (df.Sex == "F") & (df.DOD.isna()) & (df.Genotype.notnull())]
# ladies[['early', 'mid', 'slow', 'inactive']] = ladies.Genotype.str.split(",", expand = True)
# ladiesCSV = ladies.sort_values(['mid', 'slow'], ascending = False).head(9)

In [ ]:
# cas9M.to_csv('Cas9_males.csv')
# ladiesCSV.to_csv('PB_females_exp_breedings.csv')

In [ ]:
insGeno = df[(df.Lineage.str.contains("ins21")) & (df.Genotype.isnull())].copy()

In [ ]:
insGeno.to_clipboard()

In [ ]:
locs = pd.read_pickle('96-wellLocs.pkl').sort_values(
        ['Column',
         'Row']).reset_index(drop=True)  # impt standard plate indexing
# locs.join(df, rsuffix = "_init")
insGeno

In [ ]:
insGeno.sort_values(join(locs, rsuffix = 'init')

In [ ]:
locs.join(insGeno, rsuffix='init')

In [ ]:
insGeno.pivot(index='WellRow', columns='WellCol',
                      values=['Tag', 'Plate'])

In [ ]:
## generate a general colony pivot table by lineage, sex, and DOB with total numbers
saveFn = makefn(file.replace(" ", "")+'_summary')

remapDict= {'ins': '1685ins21#2',
            'pb3' : '1763PB#3',
            'pb7' : '1763PB#7',
            'pbf': '1853PBF#1'}
for key, value in remapDict.items():
    df.Lineage = df.Lineage.apply(lambda row: value if key in row.lower() else row)
grouped = df.groupby(['Lineage',
            'Sex',
            pd.Grouper(key='DOB',freq='q')]).size().unstack('DOB').reset_index()
grouped['Total'] = grouped.sum(axis=1)
grouped.fillna("-").to_csv(saveFn)

In [ ]:
saveFn = makefn(file.replace(" ", "")+'_femaleConsolidation')

In [ ]:
df.groupby(["Cage"]).agg({'Cage': 'count',  'Sex': 'unique',
                                 'Color':'unique',
                                'DOD': 'unique'})

In [ ]:
## breeding for 2019.12.03 (setting up on 12/04)
#ins
ins = ('t2620 t2632 t2623 t2626 t2463	t2625	t2622	t2633')
PB3 = ('t2643	t2642	t2325 t2681	t2644	t2641' +
       't2721	t2324	t2646t2693	t2645	t2610'+
       't2694	t2639	t2613')
PB7 = ('t2401	t2417	t2415 t2750	t2652	t2650' +
       't2751	t2421	t2418 t2265	t2410	t2412' +
       't2569	t2606	t2649')
PBF = ('t2437	t2448	t2740 t2438	t2741	t2743' +
       't2735	t2742	t2744')
cre = ('t2542	t2735	t2731 t2727	t2732	t2547' +
       't2726	t2712	t2537 t2728	t2713	')

In [ ]:
mating = tagSearch(ins + PB3 + PB7 + PBF + cre)
df[mating].sort_values('Lineage').to_csv('file.csv')

In [ ]:
CreMask = (df.Lineage.str.contains("fCas", na=False))
PBFMask = (df.Lineage.str.contains("PBF", na=False))
insMask = tagSearch("t2620 t2632 t2623 t2463 t2625 t2622 t2616 t2626 t2633 t2720 t2721 t2722 t2755 t2750 t2751 t2415 t2445")
alreadyShipped = (df.Cage.str.contains("HOP", na= True))
traveling = (df.DOD.str.endswith("hopkins| ", na = False))

In [ ]:
shipped_2 = df[(df.DOD.str.endswith("hopkins", na = False))]

In [ ]:
shipped_2.sort_values(["Cage", "Tag"])[['Cage', 'Sex', 'Tag', 'Ear', 'Color', 'DOB']].to_clipboard(excel=True, index=False)

In [ ]:
shipped_2.groupby(["Cage"]).agg({'Cage': 'count', 'Sex':'unique'}).to_clipboard(excel=True)

In [ ]:
hop = df[((traveling & (CreMask | PBFMask)) | insMask ) & ~alreadyShipped]

In [ ]:
hop.groupby(["Cage", "Sex"]).agg({'Cage': 'count'})

In [ ]:
hop.groupby(["Sex", "Cage", "Tag"]).agg({'Lineage': 'unique',
                                         'Color': 'unique',
                                        'Ear': 'unique'})

In [ ]:
hop.groupby(['Sex','Cage']).agg({'Cage':'count'})

In [ ]:
hop.sort_values(['Sex', "Lineage", 'Tag'])

In [ ]:
df[(df.Genotype.isnull()) \
   & (df['DOD'] != "Dispensible")].fillna("x").groupby(["Lineage", 'Cage']).agg({'Sex': 'count',
                                                                                   'Tag':'unique',
                                                                                   'Name': 'unique' })

In [ ]:
#mask for sorting centrifuge tube samples
freezerMask = (df.Tag.notnull()) & \
    (~df['Notebook info'].str.startswith("T|Plate", na=False))&\
     (df.Lineage != 'J024858-Cas9')

#and the results
df[freezerMask].sort_values("Tag")

In [ ]:
earlyMask, lateMask, fMask = collectAgeRange(df, '2019-12-01',
                                             28, 0 , "", "F")
earlyMask, lateMask, mMask = collectAgeRange(df, '2019-12-01',
                                             40, 0 , "", "M")

inc = df[mMask].append(df[fMask]) #combine

inc['DOD'], inc['parsedDOD'] =  zip(*inc.DOD.apply(lambda row: cleanDOD(row))) #parse DOD
inc = inc[(~inc.parsedDOD.notnull()) \
          & (~inc.DOD.str.contains('sperm|Diss|f.d.',
                                   na = False))] #drop assorted dead mice

In [ ]:
inc.fillna('n/a').groupby(['Lineage',
                           'DOD',
                           'Sex']).agg({'DOB': ['count',
                                                'min',
                                                'max']})

In [ ]:
inc[inc.DOD.str.contains('Hopkins', na= False)].groupby("Sex").agg({'Sex': 'count',
                                                    'Cage': 'nunique'})

In [ ]:
noMice, noCages

In [ ]:
df[df.Plate == "T885765"].sort_values(['WellRow',
                                       'WellCol'])[['Position',
                                                    'Tag',
                                                    'Lineage']].to_clipboard(excel=True, header = False, index = False)

In [ ]:
def is_coherent(seq):
    return seq == range(seq[0], seq[-1]+1)

In [ ]:
MMRRC_cats = ['Tag',
           'Cage',
           'Ear',
           'Sex',
           'Color',
           'Genotype',
           'DOB',
           'Lineage']

In [ ]:
# earlyMask, lateMask, mMask = collectAgeRange(df,
#                                              '2019-09-16',
#                                              13, 8,
#                                              "PB#", "M")
# earlyMask, lateMask, fMask = collectAgeRange(df, 
#                                              '2019-09-16',
#                                              4, 1,
#                                              "PB#", "F")
# shippedMask = (df.DOD.str.contains("mrrc|opkins",
#                                    na=False)) & (df.Lineage.str.contains("PB#")) #PBs marked for any maintenance movement

# df[mMask|fMask|shippedMask].groupby(["Lineage",
#                                      "Sex",
#                                      "DOD"]).agg({'Tag':'count',
#                                                    'DOB': ['first', 'last']}) #

dispense, cSorted = makeOutputs(df)
cSorted.to_clipboard(excel=True, index = True)

In [ ]:
earlyMask, lateMask, incMask = collectAgeRange(df, '2019-09-16', 4, 1, "", "F")
df[incMask][['Tag',
             'Cage',
             'Ear',
             'Sex',
             'Color',
             'DOB',
             'Genotype',
             'Lineage']].groupby("Lineage").count()

In [ ]:
earlyMask, lateMask, incMask = collectAgeRange(df, '2019-10-04', 10, 0 , "", "")
#inc = df[incMask]
#inc = inc.fillna("BLANK")

# [['Tag',
#              'Cage',
#              'Ear',
#              'Sex',
#              'Color',
#              'DOB',
#              'Genotype',
#              'Lineage']]

In [ ]:
# df[df.DOD == 'Shipped to mmrrc on 9/10'][['Tag',
#              'Color',
#              'Ear',
#              'Cage', 
#              'Sex',
#              'Genotype',
#              'DOB',
#              'Lineage']].sort_values(by = ['Cage',
#                                            'Tag'])\
#                 .fillna("missing").to_clipboard(index = False,
#                                                excel = True)

In [ ]:
# ## MICE WITH UNKNOWN FATE
# df[(df.DOD.isnull())].groupby(["Lineage", "Cage"]).agg({'DOB': ['max', 
#                                                              'min', 
#                                                              'count'],
#                                                         'Sex': 'max',
#                                                         'Name': 'unique'}).fillna("")

In [ ]:
########## selecting mice by age#########
shipDate = '2019-09-16'
early1, late1, mask1 = collectAgeRange(df, shipDate, 13, 8, "PB#", "M")
early2, late2, mask2 = collectAgeRange(df, shipDate, 9, 6.5, "PB#", "F")

males_20190916  = df[mask1].sort_values(["Lineage", "Genotype"])
females_20190916 = df[mask2].sort_values(["Lineage", "Genotype"])

shipment_20190916 = males_20190916.append(females_20190916)

# Sep09_shipment.sort_values(["Lineage",
#                             "Sex",
#                             "Cage"]).to_clipboard(excel=True,
#                                                   index = False)

# Sep09_shipment.groupby(["Lineage",
#                         "Sex",
#                         "Cage"])['Tag',
#                                  'Genotype'].count().to_clipboard()

In [ ]:
plate_reseq.sort_values(["Tag"])[['Tag',
                                  'Lineage',
                                  'Plate',
                                  'WellRow',
                                  'WellCol']].to_clipboard(excel = True, index= False)

In [ ]:
df['Tag'] = 't' + df['Tag'].astype(str)

In [ ]:
KL14_plateB = df[df['Plate'].str\
   .contains("T885773|T885761", na= False)]\
    .sort_values(by=['Plate', 'WellRow', 'WellCol']).reset_index(drop = True)

In [ ]:
KL14_plateB[['Tag','Lineage','Plate', 'WellRow', 'WellCol']]\
    .to_clipboard(excel=True, index=False)

In [ ]:
KL14_plateA = df[df['Plate'].str\
   .contains("T885772", na= False)]\
    .sort_values(by=['Plate', 'WellRow', 'WellCol']).reset_index(drop = True)

In [ ]:
df[df['Plate'].str\
   .contains("T88572|T885761|T885772|T885773",
             na = False)][['Tag', 'Plate', 'Well']]\
    .sort_values(by=['Plate', 'Well'])\
    .to_clipboard(excel=True, index= False)

In [ ]:
KL14_plateA[['Tag','Lineage','Plate', 'WellRow', 'WellCol']]\
    .to_clipboard(excel=True, index=False)

In [ ]:
#KL14_plateA.reindex('WellCol', method='ffill')

In [ ]:
KL14_plateA.groupby('WellRow').Lineage.count()

In [ ]:
KL14_plateA

In [ ]:
KL14_plateA[['Tag', 'Plate', 'WellRow', 'WellCol']]\
    .sort_values(by=['Plate', 'WellRow', 'WellCol'])\
    .to_clipboard(excel=True, index= False)

In [ ]:
## lineage stats over time
df.groupby([pd.Grouper(key="DOB", freq = "M"),
            "Lineage"]).Cage.count().unstack('DOB')

In [ ]:
def dfContains(string, column = "Cage", keep_empties = False, case = False, df = df):
    '''given a cage number/s (formatted as "nrbxxxx|nrbxxx") etc, the indexes of entries where true'''
    return df[column].str.contains(string, na = keep_empties, case = case)

In [ ]:
df[df.DOD.str.contains("Sperm", na = False)].groupby('Lineage').count()

In [ ]:
df[(dfContains("1036|1037"))
   & (df.Sex == "M")][['Tag',
                      'Cage',
                       'Ear',
                       'Sex',
                       'DOB',
                       'Notes']]

In [ ]:
PB = ['1763PB#7', '1763PB#3']
counted = df.groupby("Cage").size().reset_index(name = 'Total')
df = df.merge(counted)
PB_solo_males = df[(df.Lineage.isin(PB))&(df.Sex == "M")&(df.Total == 1)]